<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car dealership nodejs</title>
    <link rel="stylesheet" href="./../assets/vendor/css/pages/authentication.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!-- {{-- <link rel="icon" type="image/x-icon" href="favicon.ico"> --}} -->
    <!-- <link rel="icon" sizes="16x16" href="{{asset('assets/images/favicon64.png')}}" type="image/gif"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900"
        rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="./../assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="./../assets/vendor/fonts/ionicons.css">
    <link rel="stylesheet" href="./../assets/vendor/fonts/linearicons.css">
    <link rel="stylesheet" href="./../assets/vendor/fonts/open-iconic.css">
    <link rel="stylesheet" href="./../assets/vendor/fonts/pe-icon-7-stroke.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="./../assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="./../assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="./../assets/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="./../assets/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="./../assets/vendor/css/rtl/uikit.css">
    <link rel="stylesheet" href="./../assets/css/demo.css">

    <script src="./../assets/vendor/js/material-ripple.js"></script>
    <script src="./../assets/vendor/js/layout-helpers.js"></script>

    <!-- Theme settings -->
    <!-- This file MUST be included after core stylesheets and layout-helpers.js in the <head> section -->
    <script src="./../assets/vendor/js/theme-settings.js"></script>

    <!-- Core scripts -->
    <script src="./../assets/vendor/js/pace.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <!-- Libs -->
    <link rel="stylesheet" href="./../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
</head>

<body>
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>
    <div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4"
        style="background-color: aquamarine;">
        <div class="ui-bg-overlay bg-dark opacity-25"></div>
        <div class="authentication-inner py-5">
            <div class="card">
                <div class="p-4 p-sm-5">
                    <!-- Logo -->
                    <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
                        <div class="ui-w-60">
                            <div class="w-100 position-relative" style="padding-bottom: 54%;margin-left: -60px;">
                                <img src="" height="50" alt="logo" />

                            </div>
                        </div>
                    </div>
                    <!-- Form -->
                    <form action="" method="post">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label class="form-label d-flex justify-content-between align-items-end">
                                <div>Password</div>
                            </label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="d-flex justify-content-between align-items-center m-0">
                            <button type="submit" class="btn btn-primary float-right">Sign In</button>
                        </div>
                    </form>
                    <!-- / Form -->

                </div>
            </div>
        </div>
    </div>
    <!-- Core scripts -->
    <script src="./../assets/vendor/libs/popper/popper.js"></script>
    <script src="./../assets/vendor/js/bootstrap.js"></script>
    <script src="./../assets/vendor/js/sidenav.js"></script>

    <!-- Scripts -->
    <script src="./../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="./../assets/js/demo.js"></script>
</body>

</html>